<h1>Proveedor</h1>
<h2>Nombre Proveedor</h2>
<h3>{{proveedorTraido?.nombreProveedor}}</h3>
<h2>Tipo</h2>
<h3>{{proveedorTraido?.tipoProveedor}}</h3>
<h2>Telefono</h2>
<h3>{{proveedorTraido?.telefonoProveedor}}</h3>
<h2>Email</h2>
<h3>{{proveedorTraido?.emailProveedor}}</h3>

<button>Editar</button>
<button>Eliminar</button>
<button>Regresar</button>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Clave</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Asuntol</td>
      <td>ass1</td>
      <td>12</td>
      <td>50</td>
    </tr>
  </tbody>
</table>
