<div class="titulo">
    <h1>Agregar Dueño</h1>
  </div>
  <div class="registration-form">
    <form (ngSubmit)="agregarPropietario()" [formGroup]="propietarioNuevo">
      <div class="form-icon">
        <span><i class="icon icon-user"></i></span>
      </div>
      <div class="form-group">
        <div *ngIf="propietarioNuevo.get('nombrePropietario').invalid && propietarioNuevo.get('nombrePropietario').touched" class="error-container">
          <div *ngIf="propietarioNuevo.get('nombrePropietario').hasError('required')" class="error-message">
            El nombre es obligatorio.
          </div>
        </div>
        <input type="text" class="form-control item" id="nombrePropietario" placeholder="Nombre" formControlName="nombrePropietario"
          name="nombrePropietario">
      </div>
      <div class="form-group">
        <div *ngIf="propietarioNuevo.get('telefono1Propietario').invalid && propietarioNuevo.get('telefono1Propietario').touched" class="error-container">
          <div *ngIf="propietarioNuevo.get('telefono1Propietario').hasError('required')" class="error-message">
            El telefono es obligatorio.
          </div>
          <div *ngIf="propietarioNuevo.get('telefonoProveedor').hasError('pattern')" class="error-message">
            El telfono sólo debe contener numeros.
          </div>
        </div>
        <input type="tel" class="form-control item" placeholder="Telefono 1" formControlName="telefono1Propietario"
          name="telefono1Propietario" required>
      </div>
      <div *ngIf="propietarioNuevo.get('telefono2Propietario').invalid && propietarioNuevo.get('telefono2Propietario').touched" class="error-container">
        <div *ngIf="propietarioNuevo.get('telefono2Propietario').hasError('minlength')" class="error-message">
          El telefono debe tener al menos 8 caracteres.
        </div>
        <div *ngIf="propietarioNuevo.get('telefonoProveedor').hasError('maxlength')" class="error-message">
          El telfono no debe exceder de 12 caracteres.
        </div>
        <div *ngIf="propietarioNuevo.get('telefonoProveedor').hasError('pattern')" class="error-message">
          El telfono sólo debe contener numeros.
        </div>
      </div>
      <div class="form-group">
        <input class="form-control item" type="tel" placeholder="Telefono 2" formControlName="telefono2Propietario"
          name="telefono2Propietario" required>
      </div>
      <div class="form-group">
        <div *ngIf="propietarioNuevo.get('emailPropietario').invalid && propietarioNuevo.get('emailPropietario').touched" class="error-container">
          <div *ngIf="propietarioNuevo.get('emailPropietario').hasError('minlength')" class="error-message">
            El email debe tener al menos 4 caracteres.
          </div>
          <div *ngIf="propietarioNuevo.get('emailPropietario').hasError('email')" class="error-message">
            No coincide con el formato de correo electronico.
          </div>
        </div>
        <input type="text" class="form-control item" placeholder="Correo Electronico" formControlName="emailPropietario" name="emailPropietario">
      </div>
      <div class="form-group">
        <textarea class="form-control item" name="domicilioPropietario" formControlName="domicilioPropietario" cols="30" rows="10" placeholder="Domiclio"></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control item" name="observacionesPropietario" formControlName="observacionesPropietario" cols="30" rows="5" placeholder="Observaciones"></textarea>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-block create-account">Agregar Dueño</button> &nbsp;
        <button type="button" [routerLink]="'/admin/proveedor'" class="btn btn-block create-account">Regresar</button>
      </div>
    </form>
  
  </div>
  