<nav>
  <div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
      <nav class="main-menu">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
          <div
            class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white ">
            <a [routerLink]="'/admin'"
              class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5">C</span>
            </a>
            <ul
              class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
              id="menu">

              <li>
                <a [routerLink]="'/admin/cita'" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                  <i class="fs-5 bi-calendar-event"></i><span class="ms-1 d-none d-sm-inline">Citas</span> </a>
              </li>
              <li>
                <a [routerLink]="'/admin/propietario'" class="nav-link px-sm-0 px-2">
                  <i class="fs-5 bi-person"></i><span class="ms-1 d-none d-sm-inline">Dueños</span></a>
              </li>
              <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Finanzas</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                  <li>
                    <a [routerLink]="'/admin/compras'" class="nav-link px-sm-0 px-2 dropdown-item">
                      <i class="fs-5 bi-bag"></i> Compras</a>
                  </li>
                  <li>
                    <a [routerLink]="'/admin/diario'" class="nav-link px-sm-0 px-2 dropdown-item">
                      <i class="fs-5 bi-journal"></i> Diario</a>
                  </li>
                  <li>
                    <a [routerLink]="'/admin/historico'" class="nav-link px-sm-0 px-2 dropdown-item">
                      <i class="fs-5 bi-hourglass-split"></i> Historico</a>
                  </li>
                  <li>
                    <a [routerLink]="'/admin/ventas'" class="nav-link px-sm-0 px-2 dropdown-item">
                      <i class="fs-5 bi-cash-stack"></i> Ventas </a>
                  </li>
                </ul>
              </li>
              <li>
                <a [routerLink]="'/admin/paciente'" class="nav-link px-sm-0 px-2">
                  <i class="fs-5 bi-heart-pulse"></i><span class="ms-1 d-none d-sm-inline">Pacientes</span></a>
              </li>
              <li>
                <a [routerLink]="'/admin/producto'" class="nav-link px-sm-0 px-2">
                  <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Productos</span></a>
              </li>
              <li>
                <a [routerLink]="'/admin/proveedor'" class="nav-link px-sm-0 px-2">
                  <i class="fs-5 bi-person-lines-fill"></i><span class="ms-1 d-none d-sm-inline">Proveedores</span></a>
              </li>
              <li>
                <a [routerLink]="'/admin/responsiva'" class="nav-link px-sm-0 px-2">
                  <i class="fs-5 bi-file-earmark-arrow-down"></i><span
                    class="ms-1 d-none d-sm-inline">Responsivas</span></a>
              </li>
              <li>
                <a [routerLink]="'/admin/servicio'" class="nav-link px-sm-0 px-2">
                  <i class="fs-5 bi-hand-thumbs-up"></i><span class="ms-1 d-none d-sm-inline">Servicios</span></a>
              </li>
            </ul>
            <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fs-5 bi-people"></i>
                <span class="d-none d-sm-inline mx-1"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>


      <div class="col d-flex flex-column h-sm-50">
        <main class="row overflow-auto">
          <div class="col pt-4">
            <router-outlet></router-outlet>
            <hr />
          </div>
        </main>
      </div>
    </div>
  </div>
</nav>
