<ul>
    <li><a href="">Citas</a></li>
    <li><a [routerLink]="'/admin/compras'">Compras</a></li>
    <li><a href="">Diario</a></li>
    <li><a href="">Historico</a></li>
    <li><a [routerLink]="'/admin/paciente'">Pacientes</a></li>
    <li><a [routerLink]="'/admin/producto'">Productos</a></li>
    <li><a [routerLink]="'/admin/propietario'">Dueños</a></li>
    <li><a [routerLink]="'/admin/proveedor'">Proveedores</a></li>
    <li><a href="">Responsivas</a></li>
    <li><a [routerLink]="'/admin/servicio'">Servicios</a></li>
    <li><a [routerLink]="'/admin/ventas'">Ventas</a></li>
</ul>
<div>
    <router-outlet></router-outlet>
</div>
