<h1>Detalles Venta</h1>
<h2>Fecha Venta</h2>
<h3>{{ventaTraida?.fechaVenta}}</h3>
<h2>TotalVenta</h2>
<h3>{{ventaTraida?.totalVenta | currency}}</h3>

<h2>Servicios</h2>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Servicio</th>
            <th>Costo</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>


<h2>Productos</h2>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Fecha</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>