<div class="titulo">
    <h1>Pacientes</h1>
  </div>
  <div class="botonCenter" style="text-align: center">
    <button class="icon-btn add-btn" [routerLink]="'/admin/paciente/add'">
      <div class="add-icon"></div>
      <div class="btn-txt">Crear Paciente</div>
    </button>
  </div>
  <div class="bg-image h-100" style="background-color: #f5f7fa;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12"  style="height: 700px">
            <div class="card shadow-2-strong">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
                  style="position: relative;">
                  <table class="table table-dark mb-0">
                    <thead style="background-color: #393939;">
                      <tr class="text-uppercase text-success">
                        <th>#</th>
                        <th>Dueño</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let paciente of lista_paciente">
                      <tr>
                        <td>{{paciente.idPaciente}}</td>
                        <td>{{paciente.propietario.nombrePropietario}}</td>
                        <td>{{paciente.nombrePaciente}}</td>
                        <td>{{paciente.tipoMascotaPaciente}}</td>
                        <td><a [routerLink]="'/admin/paciente/'+paciente.idPaciente">Detalles</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  