<h1>Detalles</h1>
<h2>Nombre</h2>
<h3>{{pacienteTraido?.nombre_paciente}}</h3>
<h2>Tipo</h2>
<h3>{{pacienteTraido?.tipoMascotaPaciente}}</h3>
<h2>Raza</h2>
<h3>{{pacienteTraido?.razaPaciente}}</h3>
<h2>Color</h2>
<h3>{{pacienteTraido?.colorPaciente }}</h3>
<h2>Edad</h2>
<h3>{{pacienteTraido?.edadPaciente}}</h3>


<h1>Servicios</h1>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Servicio 1</td>
            <td>10000</td>
            <td>2023-11-16</td>
        </tr>
    </tbody>
</table>