

<div class="titulo">
  <h1>Orden</h1>
  <h2>Factura</h2>
  <h3>{{ordenTraida?.facturaCompra}}</h3>
  <h2>Fecha</h2>
  <h3>{{ordenTraida?.fechaCompra}}</h3>
  <h2>Nota</h2>
  <h3>{{ordenTraida?.notaCompra}}</h3>
  <h2>Proveedor</h2>
  <h3>{{ordenTraida?.proveedor.nombreProveedor}}</h3>
  <h2>Total</h2>
  <h3>{{ordenTraida?.totalCompra | currency}}</h3>

  <button (click)="openModal(modalEditar)">Editar</button>
  <button (click)="eliminarProducto()">Eliminar</button>
  <button [routerLink]="'/admin/producto'">Regresar</button>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Nombre Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody *ngFor="let detalle of ordenTraida?.productosCompra">
      <tr>
          <td>{{detalle.idDetalle}}</td>
          <td>{{ordenTraida.fechaCompra}}</td>
          <td>{{detalle.productoDetalle.nombreProducto}}</td>
          <td>{{detalle.cantidadDetalle}}</td>
          <td>{{detalle.precioTotalDetalle | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #modalEditar let-modal>
  <form (ngSubmit)="actualizarProducto()">
    <!--Cabecera-->
    <div class="modal-header fondo-cabecera">
      <h4 class="modal-title">Crear Registro</h4>
      <button class="btn close" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Cuerpo-->
    <div class="modal-body fondo-modal">
      <div class="titulo">
        <h1>Agregar Producto</h1>
      </div>
      <div class="registration-form">
        <div class="form-icon">
          <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" id="nombreProducto" placeholder="Nombre"
            [(ngModel)]="productoTraido.nombreProducto" name="nombreProducto" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" id="marcaProducto" placeholder="Marca"
          [(ngModel)]="productoTraido.marcaProducto" name="marcaProducto">
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" placeholder="Tipo" [(ngModel)]="productoTraido.tipoProducto"
            name="tipoProducto" required>
        </div>
        <div class="form-group">
          <input class="form-control item" type="tel" placeholder="Costo" [(ngModel)]="productoTraido.costoProducto"
            name="costoProducto" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" placeholder="Precio Cliente"
          [(ngModel)]="productoTraido.precioClienteProducto" name="precioClienteProducto">
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" placeholder="Cantidad" [(ngModel)]="productoTraido.cantidadProducto"
            name="cantidadProducto">
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
          <textarea name="descripcionProducto" [(ngModel)]="productoTraido.descripcionProducto" id="" cols="90" rows="10"
            class="form-control item" placeholder="Descripcion"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block create-account">Agregar Producto</button> &nbsp;
          <button type="button" [routerLink]="'/admin/proveedor'" class="btn btn-block create-account">Regresar</button>
        </div>
      </div>

    </div>
    <!--Footer-->
    <div class="modal-footer">
      <button type="submit" class="btn btn-block create-account">Actualizar</button> &nbsp;
      <button type="button" [routerLink]="'/admin/proveedor'" class="btn btn-block create-account">Cancelar</button>
    </div>
  </form>
</ng-template>

