<h1>Compras</h1>
<button>Crear Producto</button>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let propietario of lista_propietario">
        <tr>
            <td>{{propietario.idPropietario}}</td>
            <td>{{propietario.nombrePropietario}}</td>
            <td>{{propietario.telefono1Propietario}}</td>
            <td><a [routerLink]="'/admin/propietario/'+propietario.idPropietario">Detalles</a></td>
        </tr>
    </tbody>
</table>