<h1>Detalle Propietario</h1>
<h2>Nombre</h2>
<h3>{{propietarioTraido?.nombrePropietario}}</h3>
<h2>Fecha Alta</h2>
<h3>{{propietarioTraido?.fechaAltaPropietario}}</h3>
<h2>Domicilio</h2>
<h3>{{propietarioTraido?.domicilioPropietario}}</h3>
<h2>Telefono 1</h2>
<h3>{{propietarioTraido?.telefono1Propietario}}</h3>
<h2>Telefono 2</h2>
<h3>{{propietarioTraido?.telefono2Propietario}}</h3>
<h2>Correo Electronico</h2>
<h3>{{propietarioTraido?.emailPropietario}}</h3>
<h2>Observaciones</h2>
<h3>{{propietarioTraido?.observacionesPropietario}}</h3>

<button>Editar</button>
<button>Eliminar</button>
<button>Regresar</button>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Raza</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pulgas</td>
      <td>Perro</td>
      <td>Mestizo</td>
    </tr>
  </tbody>
</table>
